/* 404 page*/
.wrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.text{
    vertical-align: text-bottom;
    margin-top: 15rem;
}

.head{
    padding: 2rem 2rem 1rem 0;
}

.title-404{
    font-family: "Frijole", system-ui;
    font-size: 60px;
    color: rgb(190, 26, 26);
    text-align: center;
    -webkit-text-stroke: 0.25px white;
    margin-bottom: 0;
    margin-top: 1rem;
}

#subtitle-404{
    text-align: center;
    font-family: "Rubik Beastly", system-ui;
    font-size: 40px;
    color: red;
    margin-top: 0;
    margin-bottom: 2rem;
}

#back-link{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: "Frijole", system-ui;
    color:  rgb(252, 252, 252);
    text-align: center;
    margin-top: 0;
    text-decoration: none;
    -webkit-text-stroke: 1px red;
}

#back-link:hover{
    color: red;
}