/* Form design*/
.form-container{
    width: 80%;
    background: var(--background-color-dark);
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto 140px;
   border: 1px solid var(--accent-color-brown);
}

.form-container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container .content .left-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-container .content .left-side::before{
    content: '';
    position: absolute;
    right: -30px;
    top: 10%;
    width: 2px;
    height: 80%;
    background: var(--accent-color-brown);
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
}

.content .left-side .details{
    margin: 14px;
    text-align: center;
}

.content .left-side .details i{
    font-size: 30px;
    color: var(--accent-color-brown);
    margin-bottom: 10px;
}

.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;

}

.content .left-side .details .text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.564);
}

.form-container .content .right-side{
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: var(--background-color-light);
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box{
    min-height: 110px;
}

.right-side .button{
    display: inline-block;
    margin-top: 6px;
}

.right-side .button input[type="submit"]{
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--background-color-light);
    cursor: pointer;
    transition: all 0.3 ease;
}

.button input[type="submit"]:hover{
    background: var(--background-color-light);
}

@media (max-width: 950px) {
    .form-container{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 820px) {
    .form-container{
        margin: 40px 0;
        height: 100%;
    }
    .form-container .content{
        flex-direction: column-reverse;
    }
    .form-container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .form-container .content .left-side::before{
        display: none;
    }
    .form-container .content .right-side{
        width: 100%;
        margin-left: 0;

    }

}

@media (max-width: 400px) {
    body.contact{
        width: 100vw;
    }
    .form-container{
        margin: 1rem 0 1rem 0;
        height: 100%;
        width: 100%;
    }
    .form-container .content{
        flex-direction: column-reverse;
    }
    .form-container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .form-container .content .left-side::before{
        display: none;
    }
    .form-container .content .right-side{
        width: 380px;
        margin: 0 1rem 1rem 0;
    }
    .right-side input{
        width: 380px;
    }
    body.contact .hero{
        width: 100%;
    }
    .header{
        width: 100%;
    }
}