body{
    background: var(--background-color-light);
}

.hero h2{
    margin-top: 0;
    margin-bottom: 5rem;
}

.faq-container{
    max-width: 1100px;
    margin: 40px auto;
    background: var(--background-color-dark);
    padding: 40px;
    border-radius: 16px;
    color: black;
    border: 2px solid var(--accent-color-brown);
}

.faq-container h2{
    font-family: var(--title-font);
    font-size: 40px;
    text-align: center;
    color: var(--accent-color-brown);
}

.faq-container h3{
    font-family: var(--title-font);
    font-size: 30px;
    text-align: center;
    color: var(--accent-color-brown);
}

details{
    background: var(--background-color-light);
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 15px 20px;
    border-left: 5px solid var(--accent-color-brown);
}

summary{
    font-weight: 600;
    cursor: pointer;
}