.about-container{
    background: var(--background-color-light);
    max-width: 1500px;
}
.about-us{
    background: white;
    height: 350px;
    display: flex;
    flex-direction: row;
    border: var(--background-color-light);
}

.about-title{
    font-family: var(--title-font);
    font-size: 50px;
    color: white;
    text-shadow:
    -3px -2px 0 var(--accent-color-brown), 
    1px -1px 0 var(--accent-color-brown),
    1px -1px 0 var(--accent-color-brown),
    1px 1px 0 var(--accent-color-brown);
    width: 20%;
    text-align: center;
    margin-top: 5rem;
}

.about-p{
    font-family: var(--main-font);
    font-size: 20px;
    border-radius: 30px;
    color: black;
    background: white;
    border: 2px dashed var(--accent-color-brown);
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    padding: 2rem 0 2rem 2rem;
}

.why-us{
    background: var(--background-color-dark);
    max-width: 1500px;
    height: auto;
    margin: auto;
    padding: 5rem auto;
    display: flex;
    flex-direction: row-reverse;
}

.why-title{
    font-family: var(--title-font);
    font-size: 50px;
    color: white;
    text-shadow:
    -3px -2px 0 var(--accent-color-brown), 
    1px -1px 0 var(--accent-color-brown),
    1px -1px 0 var(--accent-color-brown),
    1px 1px 0 var(--accent-color-brown);
    white-space: nowrap;
    margin-left: 3rem;
}

.why-p{
    padding: 30px;
    border-radius: 30px;
    margin-top: 1rem;
}

