body{
    background: var(--background-color-dark);
}

.title{
    margin-bottom: 5rem;
}

.r-container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

/* Review header */
.review-header{
    text-align: center;
    margin-bottom: 50px;
}

.review-header .r-title{
    font-family: var(--title-font);
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;
    line-height: 1.2;
}

.review-header .r-subtitle{
    font-family: var(--title-font);
    font-size: 30px;
    font-weight: 600;
    color: black;
    line-height: 1.2;
}

/* Rewviews */
.reviews{
    padding: 100px 0;
}

.reviews-section{
    background-color: var(--background-color-light);
    padding: 30px;
    border-radius: 30px;
    margin-top: 1rem;
}

.reviews-section .r-info{
    display: flex;
    align-items: center;
}

.reviews-section img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}

.reviews-section .name{
    font-family: var(--main-font);
    font-size: 24px;
    color: black;
    line-height: 1.2;
}

.reviews-section p{
    margin-top: 20px;
    color: black;
}

.reviews-section .raitng{
    margin-top: 10px;
    font-size: 14px;
    color: hsl(51, 100%, 50%);
}

.to-contact{
    text-align: center;
}

.contact-button{
    background-color:var(--background-color-light);
    border-radius: 6px;
    border: 2px solid var(--accent-color-brown);
    font-family: var(--main-font);
    font-size: 20px;
    width: 300px;
    height: 30px;
    margin: 2rem auto 0 auto;
    display: inline-block;
}

.contact-us-link{
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}