/* Services page*/
.hero h1{
    margin-bottom: 40px;
}

.packages-container{
    width: 100%;
    height: 50vh;
    background: var(--background-color-light);
    border-radius: 6px;
    padding: 20px 0 40px 0;
    margin: 0;
}

.packages-container .packages-title{
    text-align: center;
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

#custom-package{
    font-family: var(--main-font);
    font-size: 20px;
    text-align: center;
    margin-top: 2rem;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.card-wrapper .cards{
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-radius: 6px;
    border-top: 2px dashed var(--accent-color-brown);
    border-right: 2px double var(--accent-color-brown);
    border-bottom: 2px dashed var(--accent-color-brown);
    border-left: 2px double var(--accent-color-brown);
    box-shadow: 0 5px 10px rdashedgba(0, 0, 0, 0.2);
}

.cards .card-titles{
    font-family: var(--title-font);
    font-size: 20px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.cards p{
    font-family: var(--main-font);
    font-size: 16px;
    color: black;
}

.wrapper{
    display: flex;
    width: 100%;
    height: auto;
    background-color: var(--background-color-dark);
}

.wrapper .info{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 2rem 1rem;
    padding-left: 2rem;
}

.info .info-titles{
    font-family: var(--title-font);
    font-size: 30px;
    text-align: left;
}

.info .info-p{
    font-family: var(--main-font);
    font-size: 20px;
    text-align: left;
}

.info .lists{
    font-family: var(--main-font);
    font-size: 20px;
}

.line{
    border-left: 3px solid var(--accent-color-brown);
    height: 40%;
    position: absolute;
    left: 50%;
    margin-left: 5px;
}

.services-wrapper1{
    width: 100%;
    height: 70vh;
    background-color: var(--background-color-light);
}

.services-wrapper2{
    width: 100%;
    height: 70vh;
    background-color: var(--background-color-dark);
}

.right,
.left{
    display: flex;
    align-items: center;
}

.right img{
    width: 350px;
    height: 350px;
    display: block;
    justify-content: end;
    margin: 7rem 0 5rem 7rem;
    border: 2px double var(--accent-color-brown);
}

.right .text{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: left;
}

.right .text .title{
    font-family: var(--title-font);
    font-size: 40px;
    color: black;
    text-align: start;
    padding: 0 5rem 2rem 5rem;
}

.right .text .service-p{
    font-family: var(--main-font);
    font-size: 22px;
    color: black;
    text-align: start;
    padding-left: 5rem;
}

.left img{
    width: 350px;
    height: 350px;
    display: block;
    justify-content: start;
    margin: 7rem 5rem 5rem 5rem; 
    border: 2px double var(--accent-color-brown);
}

.left .text{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: right;
}

.left .text .title{
    font-family: var(--title-font);
    font-size: 40px;
    color: black;
    text-align: start;
    padding: 0 5rem 2rem 0;
}

.left .text .service-p{
    font-family: var(--main-font);
    font-size: 22px;
    color: black;
    padding-right: 5rem;
}

.footer{
    background-color: var(--background-color-light);
}

@media (max-width: 800px) {
    .card-wrapper{
        height: 50%;
    }
    .line{
        height: 70%;
    }
    .services-wrapper1,
    .services-wrapper2{
        height: 95vh;
        width: 100%;
    }
    .right{
        display: flex;
        flex-direction: column;
    }
    .left{
        display: flex;
        flex-direction: column-reverse;
    }
    .right .text,
    .left .text{
        width: 90%;
        text-align: center;
        padding-top: 2rem;
    }
    .right .text .title,
    .left .text .title{
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
    .right .text .service-p{
        text-align: justify;
        padding-right: 3rem;
    }
    .left .text .service-p{
        text-align: justify;
        padding-left: 3rem;
    }
    .right img,
    .left img{
        width: 350px;
        height: 350px;
        display: flexbox;
        justify-content: center;
        margin: 3rem 5rem 2rem 5rem;
    }
}

@media (max-width: 650px) {
    .services-wrapper1,
    .services-wrapper2{
        height: 100vh;
        width: 100vw;
    }
    .right .text .title{
        text-align: left;
        margin-bottom: 0;
        padding-bottom: 1rem;
        width: 100%;
    }
    .left .text .title{
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 1rem;
        width: 100%;
    }
    .right .text .service-p{
        text-align: justify;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .left .text .service-p{
        text-align: justify;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}