:root {
  --background-color-light: #f4ebe2;
  --background-color-dark: #e6d4c2;
  --accent-color-brown: #4b382a;
  --accent-color-blue: #182747;

  --title-font : "Cinzel Decorative", serif; 
  --main-font : "Quicksand", arial;
}

/* Styling the navbar */
.header{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    background-color: var(--accent-color-blue);
    padding: 0 1rem 0 .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.navbar-logo{
    width: 56px;
    height: 56px;
    background-color: white;
    display: grid;
    place-items: center;
    border-radius: 50%;
    text-decoration: none;
}

.navbar-logo i{
    width: 2rem;
    font-size: 1.5rem;
    color: var(--accent-color-blue);
    transition: transform .6s;
}

.navbar-logo:hover i{
    transform: rotateY(-360deg);
}

.navbar-buttons{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

/* Copy email button */
.navbar-email{
    background-color: white;
    color: var(--accent-color-blue);
    padding: .75rem 2rem;
    border-radius: 4rem;
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 500;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Text to copy the email switches when you hover over it */
.navbar-email span{
    transition: transform .2s;
}

.navbar-email span:nth-child(2){
    position: absolute;
    transform: translateY(200%);
}

.navbar-email:hover span:nth-child(1){
    transform: translateY(-200%);
}

.navbar-email:hover span:nth-child(2){
    transform: translateY(0);
}

/* The hamburger and close buttons */
.navbar-toggle{
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
}

.navbar-burger,
.navbar-close{
    position: absolute;
    transition: opacity .3s, transform .4s;
}

.navbar-burger{
    opacity: 1;
}

.navbar-close{
    opacity: 0;
}

.navbar-list{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    list-style-type: none;
}

.navbar-link{
    color: white;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

/* Animations for links on the navbar */
.navbar-link span{
    transition: transform .4s;
    list-style-type: none;
}

.navbar-link span:nth-child(2){
    position: absolute;
    transform: translateY(150%);
}

.navbar-link:hover span:nth-child(1){
    transform: translateY(-150%)
}

.navbar-link:hover span:nth-child(2){
    transform: translateY(0)
}

/* Style for large devices */
@media (min-width: 945px) {
    .container{
        margin-inline: auto;
    }

    .header{
        top: 0;
    }

    .navbar{
        height: 4.5rem;
        padding: .75rem 1rem;
    }

    .navbar-logo{
        width: 56px;
        height: 56px;
    }

    .navbar-logo i{
        font-size: 2rem;

    }

    .navbar-list{
        display: flex;
        flex-direction: row;
        column-gap: 3rem;
    }

    .navbar-email{
        font-size: 18px;
    }

    .navbar-toggle{
        display: none;
    }
}

/* Show hamburger button on small screens */
.show-menu{
    right: 0;
    opacity: 1;
    pointer-events: auto;
}

/* When burger button is clicked, close button appears. They both rotate for a smooth animation */
.show-icon .navbar-burger{
    opacity: 0;
    transform: rotate(-90deg);
}

.show-icon .navbar-close{
    opacity: 1;
    transform: rotate(-90deg);
}

/* Style for mobile devices */
@media (max-width: 945px){
    .navbar{
        height: 4.5rem;
        width: 100vw;
    }
    .navbar-menu{
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 40vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #182747aa;
        backdrop-filter: blur(10px);
        transition: right 0.75s ease;
        opacity: 0;
        pointer-events: none;
    }

    .show-menu{
        right: 0;
        opacity: 1;
        pointer-events: auto;
    }

    .navbar-link{
        color: white;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        place-items: center;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        margin-top: 1rem;
    }
    .navbar-buttons{
        display: none;
    }
    .navbar-logo i{
        width: 1.5rem;
    }
}

@media (max-width: 400px) {
    .navbar-menu{
        width: 100vw;
        right: -100vw;
    }
    .show-menu{
        right: 0;
    }
}

/* body styling */
html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hero{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

body.home .hero{
    position: relative;
    height: 100vh;
    flex: 1;
}

body.home .footer{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: var(--title-font);
    font-size: 80px;
    color: white;
    text-align: center;
    margin-bottom: 0.25rem;
}

.subtitle{
    font-family: var(--main-font);
    font-size: 25px;
    color: white;
    text-align: center;
}

.chat{
    position: fixed;
    right: 20px;
    bottom: 10px;
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    border: none;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

}

#whatsapp-link{
    text-decoration: none;
}

.whatsapp-logo{
    color: var(--accent-color-blue);
    font-size: 45px;
}

.chat::before{
    content: 'WhatsApp';
    position: fixed;
    background-color: var(--accent-color-blue);
    color: white;
    text-decoration: none;
    padding: .75rem 1rem;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.chat:hover{
    background-color: var(--accent-color-blue);
}

.whatsapp-logo:hover{
    color: white;
}

.chat::after{
    content: '';
    position: fixed;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color-blue);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.chat:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.chat:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}

body.contact{
    min-height: 100vh;
    width: 100%;
    background: var(--background-color-light);
}

/* Form design*/
.form-container{
    width: 80%;
    background: var(--background-color-dark);
    border-radius: 6px;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin: 100px auto 140px;
   border: 1px solid var(--accent-color-brown);
}

.form-container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-container .content .left-side{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-container .content .left-side::before{
    content: '';
    position: absolute;
    right: -30px;
    top: 10%;
    width: 2px;
    height: 80%;
    background: var(--accent-color-brown);
}

.content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
}

.content .left-side .details{
    margin: 14px;
    text-align: center;
}

.content .left-side .details i{
    font-size: 30px;
    color: var(--accent-color-brown);
    margin-bottom: 10px;
}

.content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;

}

.content .left-side .details .text{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.564);
}

.form-container .content .right-side{
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
}

.right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 500;
    background: var(--background-color-light);
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}


.right-side .message-box{
    min-height: 110px;
}

.right-side .button{
    display: inline-block;
    margin-top: 6px;
}

.right-side .button input[type="submit"]{
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--background-color-light);
    cursor: pointer;
    transition: all 0.3 ease;
}

.button input[type="submit"]:hover{
    background: var(--background-color-light);
}

@media (max-width: 950px) {
    .form-container{
        width: 90%;
        padding: 30px 35px 40px 35px;
    }
}

@media (max-width: 820px) {
    .form-container{
        margin: 40px 0;
        height: 100%;
    }
    .form-container .content{
        flex-direction: column-reverse;
    }
    .form-container .content .left-side{
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .form-container .content .left-side::before{
        display: none;
    }
    .form-container .content .right-side{
        width: 100%;
        margin-left: 0;

    }

}

/* 404 page*/
#body-404{
    background-image: url("images/404page.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column; 
}

#title-404{
    font-family: "Rubik Puddles", system-ui;
    font-size: 45px;
    text-align: center;
}

#back-link{
    text-decoration: none;
    font-family: "Delius", cursive;
    font-size: 2rem;
}

/* Services page*/
.packages-container{
    width: 100%;
    height: 40vh;
    background: var(--background-color-light);
    border-radius: 6px;
    padding: 20px 0 40px 0;
    margin: 0;
}

.packages-container .packages-title{
    display: flex;
    justify-self: center;
    font-family: var(--title-font);
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-decoration: underline 1px solid var(--accent-color-brown);
    margin-bottom: 20px;
}

.card-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.card-wrapper .cards{
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    border-radius: 6px;
    border-top: 2px dashed var(--accent-color-brown);
    border-right: 2px double var(--accent-color-brown);
    border-bottom: 2px dashed var(--accent-color-brown);
    border-left: 2px double var(--accent-color-brown);
    box-shadow: 0 5px 10px rdashedgba(0, 0, 0, 0.2);
}

.cards .card-titles{
    font-family: var(--title-font);
    font-size: 20px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.cards .card-titles:hover{
    color: var(--accent-color-brown);
}

.cards p{
    font-family: var(--main-font);
    font-size: 16px;
    color: black;
}

.about-wrapper{
    display: flex;
    width: 100%;
    height: 100vh;;
    margin: 0;
    padding: 0;
    background: var(--background-color-light);
}

.about-info{
    width: 80%;
    height: 80%;
    display: flex;
    background: white;
}

.about-info .info-title{
    font-family: var(--title-font);
    font-size: 50px;
    color: black;
    text-decoration: double black;
}

.about-info .info-p{
    font-family: var(--main-font);
    font-size: 20px;
    color: black;
    line-height: 2;
    margin-left: 0;
}

/* Style and position for the footer */
.footer{
    left: 0;
    margin-top: auto;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-family: var(--main-font);
    font-size: 20px;
    font-weight: 700;
    color: var(--accent-color-blue);
}